# Alles ignorieren
*

# Ordner explizit nicht ignorieren
!Masks of Nyarlathotep (Spieler)/
!Sarenraes Fehler (Spieler)/
!Sarenraes Fehler (Spieler) Privat/
!Aufstieg der Herrscher Notizen (Spieler)/
!zz_Templates/
!Systeme/

# Inhalte der Ordner nicht ignorieren
!Masks of Nyarlathotep (Spieler)/**
!Sarenraes Fehler (Spieler)/**
!Sarenraes Fehler (Spieler) Privat/**
!Aufstieg der Herrscher Notizen (Spieler)/**
!zz_Templates/**
!Systeme/**


*.json
.obsidian/
.obsidian/**
*.json
*/workspace.json
