# ignore everything
*/
/.obsidian
# whitelist
!/Masks of Nyarlathotep (Spieler)
!/Sarenraes Fehler (Spieler)
!/Aufstieg der Herrscher Notizen (Spieler)
!/zz_Templates

.obsidian/graph.json
.obsidian
*.json
