# Blacklist
*/
/.obsidian
*/.obsidian/*

# Whitelist
!/Masks of Nyarlathotep (Spieler)
!/Masks of Nyarlathotep (Spieler)/*
!/Sarenraes Fehler (Spieler)
!/Sarenraes Fehler (Spieler)/*
!/Aufstieg der Herrscher Notizen (Spieler)
!/Aufstieg der Herrscher Notizen (Spieler)/*
!/zz_Templates
!/zz_Templates/*
!/Systeme
!/Systeme/*


*.json
